.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
assets/*.gif
node_modules
tsconfig.json
webpack.config.js
.github/
testdata
.*
.yarn
coverage
testdata
*.vsix
*.lock
*.mjs
