name: CI
on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        name:
          - lint
          - linux-build-test
          - macos-build-test
          - windows-build-test
          # - node24-build
        include:
          - name: lint
            os: ubuntu-latest
          - name: linux-build-test
            os: ubuntu-latest
            run_test: true
          - name: macos-build-test
            os: macos-latest
            run_test: true
          - name: windows-build-test
            os: windows-latest
            run_test: true
          # - name: node24-build
          #   os: ubuntu-latest
          #   node: 24

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run Linter
        if: matrix.name == 'lint'
        run: yarn lint
      - name: Package extension
        if: matrix.name != 'lint'
        run: yarn package
      - name: Setup python
        if: matrix.run_test == true
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install quark-engine
        continue-on-error: true
        if: matrix.run_test == true
        shell: bash
        run: |
          pip install -U quark-engine
          # get quark-engine rules
          freshquark
          # check if it installed properly
          quark --help
          quark -a testdata/simplekeyboard/test.apk -s
      - name: Run tests
        if: matrix.run_test == true
        shell: bash
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
            xvfb-run -a yarn test
          elif [ "$RUNNER_OS" == "Windows" ]; then
            yarn test || true
          else
            yarn test
          fi
      - uses: actions/upload-artifact@v4
        if: matrix.name == 'linux-build-test'
        with:
          name: apklab.vsix
          path: apklab*.vsix

  release:
    name: release
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Package extension
        run: yarn package
      - name: Release [open-vsx]
        run: |
          yarn add ovsx
          yarn ovsx publish apklab*.vsix -p ${{ secrets.OPEN_VSX_TOKEN }}
      - name: Release [marketplace]
        run: yarn vsce publish -p ${{ secrets.VS_MARKETPLACE_TOKEN }} --yarn
