name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        name:
          [
            lint,
            linux-build-test,
            macos-build-test,
            windows-build-test,
            node14-build,
          ]
        include:
          - name: lint
            os: ubuntu-20.04
            node: 12
          - name: linux-build-test
            os: ubuntu-20.04
            node: 12
            run_test: true
          - name: macos-build-test
            os: macos-latest
            node: 12
            run_test: true
          - name: windows-build-test
            os: windows-latest
            node: 12
            run_test: true
          - name: node14-build
            os: ubuntu-20.04
            node: 14

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: npm ci
      - name: Run Linter
        if: matrix.name == 'lint'
        run: npm run lint
      - name: Package extension
        if: matrix.name != 'lint'
        run: npm run package
      - name: Run tests
        if: matrix.run_test == true
        shell: bash
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
            export PATH="/home/runner/.local/bin:$PATH"
            pip install quark-engine
            freshquark
            xvfb-run -a npm test
          elif [ "$RUNNER_OS" == "Windows" ]; then
            pip install quark-engine
            freshquark
            npm test
          else
            python3 -m pip install quark-engine
            freshquark
            npm test
          fi
      - uses: actions/upload-artifact@v2
        if: matrix.name == 'linux-build-test'
        with:
          name: apklab.vsix
          path: apklab*.vsix
